doctype html
html(lang="en")

  head

      meta(charset='UTF-8')
      title Kinect2+ThreeJS Experiments
      link(rel='stylesheet', href='css/main.css')
      meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

    body

      #container

      ul.gui
        li.always_visible
          input#debug(type='checkbox')
          label(for='debug') debug
        li
          input#pause(type='checkbox')
          label(for='pause') pause
        li
          label(for='file') playback
          select#file
            option ws://127.0.0.1:9092
            option(selected) ws://192.168.0.100:9092
            option dance
            option dance_simple
            option hand_flap
            option jump_crouch
            option naenae
        li
          label(for='effect') effect
          select#effect
            option None
            option TestEffectLines
            option TestEffectPhysics
            option(selected) TestEffectDress
            option BodyExtrusion
            option InertiaLines
        li
          input#ksvisible(type='checkbox', checked='checked')
          label(for='ksvisible') ks debug

      //- each lib in libs
      //-   script(src='#{lib}')

      script(src='js/libs/jquery-2.1.1.min.js')
      script(src='js/libs/three.min.js')
      script(src='js/libs/kinect2-socket.min.js')
      script(src='js/libs/orbitcontrols.js')
      script(src='js/libs/cannon.min.js')

      script(src='js/main.js')